#wrapper{
    padding: 20px;
    background-color: rgb(231, 240, 250);
}
    #navigation{
        float: right;
    }
        #navigation > *{
            margin-left: 10px;
        }
    #existing_quotes, form{
        display: inline-block;
        vertical-align: top;
        width: 35%;
        margin-right: 5%;
    }
        .quote{
            border: 1px solid black;
            margin-bottom: 15px;
            padding: 10px;
        }
            .quote > *{
                margin-bottom: 10px;
            }
            #like_unlike{
                text-align: right;
                height: 0px;
            }
                .btn-success, .btn-danger{
                    padding: 2px;
                    font-size: 14px;
                }
        #left, #right{
            vertical-align: top;
            display: inline-block;
            margin-right: 10px;
        }
            #left > *, #right > *{
                display: block;
                margin-top: 10px;
            }
            #quote_box{
                width: 100%;
                height: 100px;
                min-width: 300px;
                font-size: 14px;
            }
